.modal {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 44px 25px 0px 25px;
}

@media screen and (max-height: 500px) {
  .modal {
    padding-top: 8px;
    top: 5%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity .3s ease;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
