.article__button-add {
  width: 124px;
  height: 65px;
  background-color: unset;
  background-image: url(../../../images/button-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 0 0 4px 0;
}

.article__button-add:focus {
  font-style: italic;
}

.article__button-add:hover {
  font-style: italic;
}
