.footer__list-item-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.14;
  white-space: pre-line;
  margin: 0;
  color: #FFFFFF;
}

.footer__list-item-link:hover {
  font-style: italic;
}

.footer__list-item-link:focus {
  font-style: italic;
}
