.article__re-search-button {
  width: 124px;
  height: 48px;
  background-color: unset;
  background-image: url(../../../images/re-search-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 44px auto;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.article__re-search-button:focus {
  font-style: italic;
}

.article__re-search-button:hover {
  font-style: italic;
}
