.main__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 19px 26.5px;
  max-width: 550px;
  color: #000000;
}
