.form__input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  border: 1px solid #1D1A1A;
  box-sizing: border-box;
  border-radius: 8px;
}

.form__input-radio:checked {
  border: 5px solid #000000;
}
