.article__buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0;
}


@media screen and (min-height: 600px) {
  .article__buttons-container {
    padding: 44px 0;
  }
}
