.footer__list-item {
  margin: 0;
  padding: 10px 0 22px 70px;
}

@media screen and (max-width: 300px) {
  .footer__list-item  {
    padding-left: 40px;
  }
}

@media screen and (max-width: 240px) {
  .footer__list-item  {
    padding-left: 20px;
  }
}
