.footer__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.14;
  white-space: pre-line;
  margin: 0;
  padding: 20px 0 11px 60px;
  color: #FFFFFF;
}

@media screen and (max-width: 300px) {
  .footer__title {
    padding-left: 30px;
  }
}

@media screen and (max-width: 240px) {
  .footer__title {
    padding-left: 10px;
  }
}
