.form__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 19px 26.5px 10px 26.5px;
  color: #000000;
}
