.article__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  margin: 10px auto 16px auto;
  color: #000000;
  white-space: pre-line;
  max-height: 140px;
  overflow-y: auto;
}

@media screen and (min-height: 600px) {
  .article__text {
    max-height: 300px;
  }
}
